.container {
  @apply flex min-h-screen bg-white;

  .menu {
    @apply flex flex-col;
    background-color: var(--clr-dark-1);
    .zocketLogo {
      @apply mt-12 mb-14 h-10 w-10 mx-auto;
    }

    .menuItem {
      @apply px-4 py-2 mb-2 grid place-items-center cursor-pointer;
      .menuIcon {
        @apply w-6 h-6;
      }
      .label {
        @apply text-gray-200 my-1 text-sm;
      }
    }
    .activeMenuItem {
      @apply relative bg-[var(--clr-dark-2)];
      &::before {
        @apply absolute h-full top-0 left-0 w-1 bg-[var(--clr-blue-1)];
        content: "";
        background-color: var(--clr-blue-1);
        // background-color: var(--clr-primary);
      }
    }
  }

  .main {
    @apply flex-1;
  }
}
