@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark-1: #001738;
  --clr-dark-2: rgba(25, 119, 243, 0.1);
  --clr-blue-1: #1977f3;
  --gradient-1: linear-gradient(0deg, #dae6ff, #dae6ff),
    linear-gradient(0deg, #ffffff, #ffffff);
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("../assets/fonts/EudoxusSans/EudoxusSans-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("../assets/fonts/EudoxusSans/EudoxusSans-Light.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("../assets/fonts/EudoxusSans/EudoxusSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("../assets/fonts/EudoxusSans/EudoxusSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("../assets/fonts/EudoxusSans/EudoxusSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("../assets/fonts/EudoxusSans/EudoxusSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}

body {
  @apply font-eudoxus;
}

.h5 {
  @apply font-semibold text-lg;
}

.tinyText {
  @apply text-sm;
  color: #606060;
}

.secondaryText {
  @apply ml-1 text-sm font-medium;
  color: rgba(0, 0, 0, 0.5);
}
.hr {
  @apply mt-1 mb-4;
  height: 2px;
  background-color: #eaeaea;
}

.primaryButton {
  @apply bg-[#0F6EFF] text-white px-16 py-2 rounded-lg cursor-pointer mb-2;
}

.lightGrayBorder {
  border: 1.5px solid #e9e9e9;
}
