.container {
  @apply bg-white my-2 rounded-lg p-6;
  border: 1px solid #dae6ff;

  .filters {
    @apply flex gap-x-2;
    .filter {
      @apply flex items-center gap-x-2 cursor-pointer;

      .label {
        color: rgba(0, 0, 0, 0.5);
      }
      .selectContainer {
        @apply rounded-lg py-2 px-4 cursor-pointer;
        border: 1.5px solid #e9e9e9;
        select {
          @apply outline-none cursor-pointer;
        }
      }
    }
  }

  .search {
    @apply flex gap-x-2 rounded-lg px-4 py-2;
    border: 1.5px solid #e9e9e9;
    img {
      @apply h-6 w-6;
    }
    input {
      @apply flex-1 bg-transparent text-sm outline-none min-w-[200px];
      &::placeholder {
        @apply text-[rgba(0,0,0,0.5)];
      }
    }
  }
}

.flexBetween {
  @apply flex justify-between items-center;
}

// .table {
//   @apply w-full mt-3;
//   tr:nth-child(1) {
//     @apply border-separate p-4;
//     background: #f8f8f8;
//     border: 1.5px solid #eaeaea;
//   }
//   th {
//     @apply font-normal;
//     color: rgba(0, 0, 0, 0.5);
//   }
// }

.table {
  .row {
    @apply grid pt-4 text-sm text-[rgba(0,0,0,0.5)] gap-y-2 w-full;
    grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .th {
      @apply py-2;
      background-color: #f8f8f8;
      border-top: 1.5px solid #eaeaea;
      border-bottom: 1.5px solid #eaeaea;
    }
    .th:nth-child(1) {
      border-left: 1.5px solid #eaeaea;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .th:nth-child(10) {
      border-right: 1.5px solid #eaeaea;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    div:nth-child(10n + 1) {
      @apply pl-4;
    }
  }
}
